build:
  type: bash
  bash: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/AshutoshKapoor/Cypress
    # make all
    # docker build
deploy:
  type: dockerCompose
  dockerCompose: AshutoshKapoor/Cypress/test
test:
  - name: test
    configPath: AshutoshKapoor/Cypress/
    configType: cypress
  - name: test 2
    configPath: AshutoshKapoor/Cypress/
    configType: artillery
