app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: >+
    #/bin/sh

    <<'###'

    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm install <helm-folder> -n <ns> $HELM_OPTS


    kubectl apply -f <file>.yaml

    ###

app_test:
  - name: q
    configType: artillery
    configPath: ""
build:
  type: text
  content: "#!/bin/sh"
deploy:
  type: text
  content: "#!/bin/sh"
test:
  - name: Repo
    configType: artillery
    configPath: AshutoshKapoor/coursera-test/
lastUpdatedBy: Ashutosh Kapoor
lastUpdatedOn: 2022-07-15T10:23:38.621Z
