build:
  type: dockerFile
  dockerFile: AshutoshKapoor/GitTest/test1
deploy:
  type: helm
  helm:
    chartName: "1"
    namespace: "1"
    overrideValues: "1"
test:
  - name: "1"
    configType: postman
    configPath: AshutoshKapoor/GitTest/1
  - name: "2"
    configType: custom
    customType: commands
    commands:
      - "2"
    status: "2"
    response: "2"
