buildConfig:
  type: bash
  bash: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/AshutoshKapoor/Cypress
    # make all
    # docker build
deployConfig:
  type: bash
  bash: |-
    #/bin/sh
    cd $ROOST_WORK_DIR/git/AshutoshKapoor/Cypress
    # kubectl apply -f <file>.yaml
    # helm install <helm-folder> -n <ns>
testConfig:
  - name: ""
    configPath: AshutoshKapoor/Cypress/
    configType: artillery
