build:
  type: bash
  bash: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/AshutoshKapoor/Cypress
    # make all
    # docker build
deploy:
  type: bash
  bash: |-
    #/bin/sh
    cd $ROOST_WORK_DIR/git/AshutoshKapoor/Cypress
    # kubectl apply -f <file>.yaml
    # helm install <helm-folder> -n <ns>
test:
  - name: Cypress
    configPath: AshutoshKapoor/Cypress/
    configType: artillery
  - name: Cypress 2
    configPath: AshutoshKapoor/Cypress/
    configType: cypress
