App Dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: >-
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    # kubectl apply -f <file>.yaml

    # helm install <helm-folder> -n <ns>
test:
  - name: "1"
    configType: artillery
    configPath: ""
Last Updated By: Ashutosh Kapoor
Last Updated On: 2022-07-14T06:01:17.960Z
