build:
  type: text
  content: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/AshutoshKapoor/Cypress
    # make all
    # docker build
deploy:
  type: text
  content: |-
    #/bin/sh
    cd $ROOST_WORK_DIR/git/AshutoshKapoor/Cypress
    # kubectl apply -f <file>.yaml
    # helm install <helm-folder> -n <ns>
test:
  - name: "1"
    configType: artillery
    configPath: AshutoshKapoor/Cypress/
Last Updated By: Ashutosh Kapoor
Last Updated On: 2022-07-12T11:05:49.464Z
